.dessert {
  text-align: center;
  margin: 100px auto;
  width: 85%;
  color: #5a5a5a;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #5a5a5a;
  text-decoration: none;
}

.one_desert {
  display: grid;
  background-color: #f6f6f6c9;
  gap: 20px;
  grid-template-rows: 1fr;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.144);
  transition: all 0.5s;
}

.one_desert > img {
  border-radius: 10px 10px 0 0;
  margin: auto;
}

.one_desert > span {
  font-style: italic;
}

.one_desert:hover {
  cursor: pointer;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.397);
  transform: translateY(-10px);
  transition: all 0.5s;
}
