.dessert {
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  color: #5a5a5a;
}

.desserts {
  display: grid;
  gap: 36px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 36px;
  grid-template-columns: 1fr 1fr 1fr;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #5a5a5a;
  text-decoration: none;
}

.one_desert {
  display: grid;
  background-color: #f6f6f6c9;
  gap: 20px;
  grid-template-rows: 1fr;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.144);
  transition: all 0.5s;
}

.one_desert > img {
  filter: brightness(70%);
  border-radius: 10px 10px 0 0;
  transition: all 0.5s;
  margin: auto;
}

.one_desert:hover > img {
  filter: brightness(90%);
  transition: all 0.5s;
}

.one_desert:hover > span {
  color: #5a5a5a;
}

.one_desert > span {
  font-style: italic;
}

.one_desert:hover {
  cursor: pointer;
  box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.397);
  transform: translateY(-10px);
  transition: all 0.5s;
}

@media (max-width: 768px) {
  .desserts {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .dessert {
    margin: 70px auto;
  }

  .one_desert > img {
    max-width: 150px;
    margin: 5px auto;
  }

  .one_desert {
    display: flex;
    margin: auto;
    max-width: 200px;
    height: 23rem;
    flex-direction: column;
    gap: 20px;
    padding: 15px 5px;
  }
  span {
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .desserts {
    display: flex;
    flex-direction: column;
  }

  .dessert {
    margin: 70px auto;
  }

  .one_desert > img {
    width: 280px;
    margin: 5px auto;
  }

  .one_desert {
    display: flex;
    flex-direction: column;
    height: 31rem;
    margin: auto;
    width: 320px;
    gap: 20px;
    padding: 15px 5px;
  }
}
