.main_footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  color: rgb(218, 216, 216);
  align-items: center;
  background: url('https://cafecity.az/static/assets/img/footer.jpg') no-repeat;
  background-size: cover !important;
  margin-top: 100px;
  font-weight: 500;
  font-size: 18px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 50px 0;
}

.follow_container {
  display: flex;
  width: 160px;
  flex-direction: column;
}

.follow_container > h5,
.right > h5 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.menu_cat {
  display: grid;
  column-gap: 140px;
  row-gap: 14px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.menu:link,
.menu:active,
.menu:visited {
  padding: 3px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(218, 216, 216);
  transition: all 0.3s;
}

.menu:hover {
  color: #9b7872;
  border-radius: 10px;
  transform: translateX(10px) scaleX(1.1);
  cursor: pointer;
  transition: all 0.3s;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.icon {
  filter: grayscale(1);
}

.icon:hover {
  transform: scale(1.1);
  filter: grayscale(0);
  transition: transform 0.5s, filter 0.3s;
}

.creator {
  width: 100%;
  background-color: rgb(239, 219, 178);
}

.creator_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  font-size: 20px;
  height: 40px;
  color: #866671;
  font-weight: 600;
}

.git_link {
  text-decoration: none;
  color: #866671;
  font-style: italic;
}

@media (max-width: 768px) {
  .creator_cont {
    font-size: 20px;
    height: auto;
    width: 100%;
  }

  .git_link {
    margin-left: auto;
    margin-right: 15px;
  }

  .creator_cont > span {
    margin-right: 15px;
    margin-right: auto;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: 400px) {
  .creator_cont {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .git_link,
  .creator_cont > span {
    padding: 0;
    margin: 0;
  }
}
