.footer {
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  /* background-color: #f6f6f6; */
  background: url('https://cafecity.az/static/assets/img/footer.jpg') no-repeat;
  background-size: cover !important;
  height: 330px;
  margin-top: 100px;
  font-weight: 500;
  font-size: 18px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 50px 0;
}

.follow_container {
  display: flex;
  width: 160px;
  flex-direction: column;
}

.follow_container > h5,
.right > h5 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.menu_cat {
  display: grid;
  column-gap: 140px;
  row-gap: 14px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.menu {
  padding: 3px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu:hover {
  color: #ec7f24;
  border-radius: 10px;
  transform: translateX(10px) scaleX(1.1);
  cursor: pointer;
  transition: all 0.3s;
}
